:root {
  --primary: #FFD1DA;
  --dark: #e27d60;
  --gray: #f7e1d7;
  --light: #ffffff;
}
/* #edafb8; */
body{
  background-color: white;
  color: white;
}

/* .header{
  column-gap: 10px;
  border-bottom: 1px solid hotpink;
  background-color: black;
} */

/* LOGIN / REGISTER / LOGOUT BUTTONS */
.nav-buttons {
  display: flex;
  position: relative;
}

.nav-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 45px;
  border-radius: 15px;
  background-color: var(--dark);
  color: white;
  font-weight: bold;
}

#login-btn,
#logout-btn {
  display: inline-flex;
  position: absolute;
  margin: 20px 10px 0px 10px;
  right: 2%;
}

#logout-btn:hover,
#register-btn:hover,
#login-btn:hover{
  background-color: #ffd80b;
  color: #585656;
}

#register-btn {
  display: inline-flex;
  position: absolute;
  margin: 20px 10px 0px 10px;
  right: 12%;
}

/* LANDING PAGE =================================================================== */
/* ************TOP CONTAINER***************** */

.top-container{
  position: relative;
  margin-top: 5%;
  width: 100%;
  height: 100vh;
}

.other-container{
  /* border: 1px solid red; */
  height: 800px;
  position: relative;
}

.image-holder{
  /* border: 1px solid purple; */
  position: absolute;
  right: 4%;
  height: 400px;
  width: 80%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 70px;
}

.image-holder p, h5{
  color: black;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.image-holder h5{
  font-weight: bold;
  margin-bottom: 2px;
  font-variant-caps: small-caps;
}

.info-card{
  border: 3px solid;
  border-color:var(--dark);
  border-radius: 15px;
  background-color: white;
  width: 250px;
  height: 200px;
  padding: 10px;
}

.info-card-icon-r{
  width: 65px;
  height: 65px;
  border-radius: 10px;
  background-color: rgba(236, 100, 75, 0.3);
  color: rgba(236, 100, 75, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.info-card-icon-g{
  width: 65px;
  height: 65px;
  border-radius: 10px;
  background-color: rgba(77, 175, 124, 0.3);
  color: rgba(77, 175, 124, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
}

.text-container{
  /* border: solid 1px blue; */
  height: 70%;
  width: 50%;
}

.left-img img{
  max-width: 40%;
}
.main-text {
  max-width: 60%;
  position: absolute;
  color: black;
  top: 27%;
  left: 11%;
}

.main-text img{
  /* width: 450px; */
  /* height: 100px */
  max-width: 60%;
  height: 100px;
}

.parallelogram {
	width: 480px;
	height: 27px;
	transform: skew(20deg);
	background: yellow;
  opacity: 0.2;
  position: absolute;
  top: 32%;
  left: 11%;
}

.sub-text{
  max-width: 27%;
  /* width: 480px; */
  height: 300px;
  /* border: 1px solid green; */
  position: absolute;
  left: 11%;
  top: 40%;
}
.sub-text p{
  color: #585656;
  font-family:sans-serif;
  font-weight:normal;
  font-size: x-large;
}

#other-login-btn{
  position: absolute;
  margin-top: 15px;
  max-width: 80%;
  width: 300px;
  height: 50px;
  border-radius: 12px;
  background-color: var(--dark);
  color: white;
  font-size: large;
  font-weight: bold;
}

#other-login-btn:hover{
  background-color: #ffd80b;
  color: #585656;
}

#heroImg{
  display: inline;
  position: absolute;
  /* border: solid 1px black; */
  height: 80%;
  width: 55%;
  top: 11%;
  right: 0%;
}

#imageContainer{
  position: relative;
  display: flex;
}

#yellowBlobs{
  position: absolute;
  top: 5%;
  left: 0;
}

#travelImage img{
  position: absolute;
  top: 20%;
  left: 18%;
  max-width: 58%;
  /* width={"500px"} */
  /* height: 330px */
}

#yellow-blob-img{
  /* width: 700px; */
  /* height: 550px; */
  max-width: 100%;
}

.second-container{
  /* border: 1px solid green; */
  height: 400px;
  position: relative;
  /* max-width: 100%; */
}

#weird-shapes-container,
#yellowHalfRoundedRectangle{
  position: absolute;
  left: 0;
  bottom: 0;
}

/* #half-rectangle-image    */
/* REGISTER FORM ================================================================== */
.register-form {
  margin-top: 10%;
}
/* PLANNING PAGE ================================================================== */
.planning-buttons {
  margin: 100px 50px 40px 50px;
  display: flex;
  justify-content: space-around;
  width: 100%;
  position: relative;
}

.mini-screen{
  display: inline-flex;
  position: absolute;
  top: 12%;
  border: 4px solid #dedbd2;
  border-radius: 10px;
  width: 98%;
  height: 90%;
}

.triangle {
  position: absolute;
  top: -4%;
  left: 7.3%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 20px solid #dedbd2;
}

.triangle-overview {
  position: absolute;
  top: -4%;
  left: 8%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 20px solid #dedbd2;
}

.triangle-transport {
  position: absolute;
  top: -4%;
  left: 49.4%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 20px solid #dedbd2;
}

.triangle-activities {
  position: absolute;
  top: -4%;
  left: 70%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 20px solid #dedbd2;
}

.triangle-map {
  position: absolute;
  top: -4%;
  left: 90.3%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom: 20px solid #dedbd2;
}

.planning-page-divs{
  display: inline flex;
  width: 100%;
}

#top-lodging-btn,
#top-transportation-btn,
#top-activities-btn,
#top-organize-btn,
#top-map-btn {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 180px;
  height: 40px;
  border-radius: 10px;
}

#top-lodging-btn:hover,
#top-transportation-btn:hover,
#top-activities-btn:hover,
#top-organize-btn:hover,
#top-map-btn:hover {
  background-color: #b0c4b1;

}

.planning-buttons h2{
  color: black;
  position: absolute;
  top: -12%;
  font-family: cursive;
  text-decoration: underline;
  color: #585656;
}

.active-button {
  background-color: #b0c4b1;
}

/* LODGING COMPONENT ============================================================================= */

.lodging-container {
  width: 100%;
  overflow-x: auto;
  overflow-y: auto;
  margin: 10px;
}

.lodging-table, th, td {
  border: solid 1px black;
  color: black;
  width: 100%;
  table-layout: fixed;
}

.lodging-table thead{
  background-color: rgba(242, 121, 53, 0.7);
}

#action-column{
  display: flex;
  align-items: center;
  flex-direction:column;
}

.edit-btns,
.delete-btns,
.save-btns,
.cancel-btns {
  width: 120px;
  height: 35px;
  margin: 2px;
  border-radius: 10px;
}

.add-btns{
  width: 80px;
  height: 32px;
  margin: 2px;
  border-radius: 15px;
}

.edit-btns{
  /* opacity: 0.2; */
  background-color: rgba(250, 216, 89, 0.7);
}

.edit-btns:hover{
  background-color: #ffd80b;
}

.save-btns,
.add-btns {
  background-color: rgba(63, 195, 128, 0.6);
}

.save-btns:hover,
.add-btns:hover {
  background-color: rgba(63, 195, 128, 1);
  color: black;
}

.delete-btns,
.cancel-btns {
  background-color: rgba(231, 76, 60, 0.6);
}

.delete-btns:hover,
.cancel-btns:hover {
  background-color: rgba(231, 76, 60, 1);
  color: black;
}

/* .lodging-table tr {
  padding: 5px;
} */

.lodging-table th, td{
  padding: 5px;
}

.lodging-table tr:nth-child(even) {
  background-color: rgba(242, 121, 53, 0.2);
}

#addLodgingForm{
  /* border: 1px solid red; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

h4 {
  color: black;
  text-decoration: underline;
}

hr {
  color: black;
  width: 90%;
  text-align: center;
  margin-left: 4%;
  margin-bottom: 30px;
}
/* ======OVERVIEW================================================================================= */

.start-planning-container{
  border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview-container{
  /* border: 2px dashed blue; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .overview-wrapper{
  width: 60%;
  border: 1px solid green;
} */

.overviewH{
  margin-bottom: 20px;
  color: #585656;
}
/* =============================================================================================== */
.day-plan{
  border: 1px solid white;
  width: 240px;
  height: 400px;
  margin: 20px;
  padding: 10px;
}

/* h6{
  text-decoration: underline;
} */